<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-local-cooperative-heading"
        data-cy="LocalCooperativeCreateUpdateHeading"
        jhiTranslate="coopcycleApp.localCooperative.home.createOrEditLabel"
      >
        Create or edit a Local Cooperative
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="coopcycleApp.localCooperative.geoZone" for="field_geoZone">Geo Zone</label>
          <input type="text" class="form-control" name="geoZone" id="field_geoZone" data-cy="geoZone" formControlName="geoZone" />
          <div *ngIf="editForm.get('geoZone')!.invalid && (editForm.get('geoZone')!.dirty || editForm.get('geoZone')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('geoZone')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="coopcycleApp.localCooperative.nationalCooperative" for="field_nationalCooperative"
            >National Cooperative</label
          >
          <select
            class="form-control"
            id="field_nationalCooperative"
            data-cy="nationalCooperative"
            name="nationalCooperative"
            formControlName="nationalCooperative"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                nationalCooperativeOption.id === editForm.get('nationalCooperative')!.value?.id
                  ? editForm.get('nationalCooperative')!.value
                  : nationalCooperativeOption
              "
              *ngFor="let nationalCooperativeOption of nationalCooperativesSharedCollection; trackBy: trackNationalCooperativeById"
            >
              {{ nationalCooperativeOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
