<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="nationalCooperative">
      <h2 data-cy="nationalCooperativeDetailsHeading">
        <span jhiTranslate="coopcycleApp.nationalCooperative.detail.title">National Cooperative</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ nationalCooperative.id }}</span>
        </dd>
        <dt><span jhiTranslate="coopcycleApp.nationalCooperative.name">Name</span></dt>
        <dd>
          <span>{{ nationalCooperative.name }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/national-cooperative', nationalCooperative.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
